.suggestedAccContainer {
  padding: 16px 0;
  color: rgba(255, 255, 255, 0.9);
  font-weight: var(--fontWeightSemiBold);
  font-size: var(--fontSizeP4);
  line-height: 20px;
  position: relative;
}

.suggestedAccContainer::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 8px;
  right: 8px;
  height: 1px;
  background: rgba(255, 255, 255, 0.12);
}

.suggestedTitle {
  padding: 0 8px;
  margin-bottom: 8px;
  font-size: var(--fontSizeP4);
  line-height: 20px;
}

.showNumButton {
  background: transparent;
  outline: none;
  border: none;
  color: rgb(var(--tiktok-red-rgb));
  cursor: pointer;

  padding: 0 8px;
  margin-top: 8px;
}