.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto 0;
  padding-inline: 20px;
  max-width: 1150px;
  width: 100%;
}

.sideNav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.mainContent {
  width: 692px;
  max-width: 692px;
  padding: 24px 0px;
}